
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
.contenido{
  max-width: 1250px;/*Tamano de categoria de zapatillas*/ 
  width: 100%;
  margin: 40px auto;
  display: flex;
}
.mostrador{
  width: 100%;
  transition: .5s ease;
}
.mostrador .fila{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;/*tamano del cuadrado grande al seleccionar */
}
.mostrador .fila .item{
  max-width: 210px;
  padding: 30px;
  height: 300px;/* tamano de diferencia de las zapatillas alto y bajo*/
  text-align: center ;
  margin: 0 20px;
  cursor: pointer;
  border-radius: 20px;/*tamano y forma de la zapailla*/
  transition: .3s;
}
.mostrador .fila .item:hover{
  background-color: #ffffff;/*color de cuadrado de las zapatillas*/
}
.mostrador .fila .item img{
  width: 100%;/*Tamano de la zapatilla dentro del cuadrado*/
  margin: 30px 0;
}
.mostrador .fila .item .descripcion{
  color: #707070;
  font-weight: bold;
}
.mostrador .fila .item .precio{
  color: #f81515;/*Color de precio*/
  font-weight: bold;
  font-size: 22px;/*Tamano del precio*/
}
.seleccion{
  transition: .5s ease;
  opacity: 0;
  width: 0%;
  border: 1px solid #cccc;/*Color de la linea al seleccionar*/
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.cerrar{
  position: absolute;
  right: 5px;
  top: 0px;/*tamano de la x(cerrar)*/
  cursor: pointer;
}
.info{
  padding: 20px;/*Borde de precio y talla*/
}
.info img{
  display: block;
  margin: 40px;/*lugar donde se posiciona la zapatilla(derecha o izquirda) */
  width: 85%;/*Tamano de la zapatilla al entrar a la seleccion */
}
.info h2{
  color: #707070;/*Color de letras Modelos*/
  margin-bottom: 0px;/*separacion de letras "Modelos"*/
}


.info p{
  font-size: 15px;/*tamano de (descripcion del modelo)*/
  color: #707070;/*Color de letras "descripcion del modelo"*/
  margin-bottom: 0px;/*lugar para colocar el "Agregar al carrito"*/
}
.info .precio{
  font-size: 20px;/*tamano del precio*/
  font-weight: bold;/*estilo de letra*/
  color: #707070;/*Color de letras "precio"*/
  margin-bottom: 0px;
  display: block;
}
.info .fila{
  display: flex;
  align-items: flex-end;
}
.info .fila label{
  display: block;
  margin-bottom: 0px;
}
.info .fila select{
  width: 80px;/*Tamano(ancho) de la talla*/
  font-size: 19px;/*Tamano del numero de la talla*/
  padding: 0px;/*Tamano(alto) de la talla*/
  margin-right: 30px;
}
.info .fila button{
  height: 30px;/*Tamano de "agregar al carrito"*/
  border: none;
  width: 1000px;
  padding: 0px;
  color: #ffff;
  background-color: #f81515;
}
