body{
    background-image:url(img/img1.png);
    height: 800px;
    background-size: cover;
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

